
{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section
  class="container list"
  data-projects-pagination
  data-projects-mobile-per-page="4"
  data-projects-desktop-per-page="6"
  data-projects-breakpoint="768"
>
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  <ul>
    <div class="project" data-js-pagination="projects">
      {{ range .RegularPages }}
      <div class="item" data-project-item>
          {{ $projectDescription := (.Description | default .Summary | plainify | truncate 150) }}
          <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
          <p class="description">
            {{ $projectDescription }}
          </p>
        </div>
        {{ end }}
    </div>
  </ul>
  {{ partial "projects/pagination.html" }}
</section>
{{ end }}
