
{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  <ul>
    <div class="project">
      {{ range .Paginator.Pages }}
      <div class="item">
          <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
          <p class="description">
            {{ .Description }}
          </p>
        </div>
        {{ end }}
    </div>
  </ul>
  {{ partial "projects/pagination.html" . }}
</section>
{{ end }}
