@mixin content_dark {
  .content {
    .post {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;

          a {
            color: $fg-color-dark;
          }
          a:active {
            color: $fg-color-dark;
          }
        }
      }
    }
    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .project {
      .title {
        color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }

  .link {
    width: 100%;
    margin-top: 1em;
    display: inline-flex;

    .button {
      border: 2px solid #dadada;
      border-radius: 5px;
      padding: 10px 25px;
      background: #212121;
      color: #dadada;
      margin: 0 auto;
    }

    .button:hover {
      background: #3b3b3b;
    }
  }

  .built-with {
    .tech img {
      filter: invert(0.9);
    }
    span {
      color: #212121;
      background-color: #dadada;
    }

    .tooltip span::before {
      border-top-color: #dadada;
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
