.pagination {
  margin-top: 6rem;
  text-align: center;
  font-family: $font-family;

  li {
    display: inline;
    text-align: center;
    font-weight: 700;

    span {
      margin: 0;
      text-align: center;
      width: 3.2rem;
    }

    a {
      font-weight: 300;

      span {
        margin: 0;
        text-align: center;
        width: 3.2rem;
      }
    }
  }
}

.paginate-simple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 20%;

  a, button {
    color: #212121;
  }

  button {
    background-color: transparent;
    border: none;
  }

  a:hover,
  a:focus,
  button:hover:not([disabled]),
  button:focus {
    color: #1565c0;
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
    opacity: 50%;
  }
}
